* {
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

.nav-color {
  background-color: rgba(255, 255, 255, 0.007);
}

.greeting {
  color: #ec5242;
}

.title {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 35px;
  background: -webkit-linear-gradient(45deg,
  #ec5242, #ec5242, #49140f, rgb(228, 47, 47), #ec5242, #f76656);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-brand {
  display: none; 
}

.headline {
  background: #f3f3f3 url('images/main-img.png') no-repeat center top;
  background-size: cover;
}

time {
  font-family: 'COCOGOOSE', sans-serif;  
}

#main-program {
  background: url('https://cdn.pixabay.com/photo/2016/03/26/05/19/fractal-1280084_960_720.jpg');
  padding: 20px;
}
.table {
  flex-direction: column;
}

.table > article {
  background-color: #69696e6b;
  min-height: 100px;
  max-width: 400px;
}

.table > article > h6 {
  color: #ec5242;
  width: 25%;
}

.table > article > small {
  color: #d3d3d3;
  width: 50%;
}

#main-program > h6,
.line {
  color: #d3d3d3;
 
  font-family: 'COCOGOOSE', sans-serif;
}

.line{
  border-bottom: 1px solid #ec5242;
  width: 40px;
}

.table >article {
  background-color: #6264697a;
}

.join {
  background: #ec5242;
  border: none;
  min-width: 85%;
}

.titleAbout {
  color: #ec5242;
  font-weight: 800;
  font-family: 'COCOGOOSE', sans-serif; 
  font-size: 26px;
  text-align: center;
}

#partners > h2 {
  color: #f3f3f3;
}

#partners {
  background-color: #272a31;
}

.congress-2018,
.congress-2015 {
  border: 1px solid grey;
  width: 350px;
  height: 250px;
  background-size: cover;
}

.congress-2015 {
  background-image: url('https://cdn.pixabay.com/photo/2019/08/05/15/18/people-4386248_960_720.png');
  background-color: #330303;
}

.congress-2018 {
  background-image: url('https://cdn.pixabay.com/photo/2020/09/17/18/05/people-5579977_960_720.png');
  background-color: #330303;
}

.year {
  font-size: 46px;
  font-weight: 800;
  color: #d3d3d3;
  text-shadow: 5px 5px #0e0c0c;
}

.congress-2018 >small,
.congress-2015 >small{
  text-shadow: 5px 5px #0e0c0c;
}

.titleSmall {
  font-weight: 800;
  font-size: 18px;
}

.desSmall {
  font-size: 12px;
  text-align: center;
}

a > span {
  text-align: center;
}

.programBtn {
  display: none;
}

@media (min-width: 768px) {

  .nav-color {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px 5px #272a3163;
    position: fixed!important;
  }
    
  .navbar-brand {
    display: flex; 
  }

  .headline > div {
    width: 700px;
  }

  .greeting {
    margin-top: 100px;
  }

  .table {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .table > * {
    max-width: 100px;
    margin-right: 1px;
    max-width: 150px;
  }

  .table > article > h6 {
    font-size: 12px;
    width: 100%;
    text-align: center;
  }

  .table > article > small {
    width: 100%;
    font-size: 8px;
    text-align: center;
  }

  .table > article {
    flex-direction: column;
    max-width: 150px;
    height: 130px;
    
  }

  .programBtn {
    display: block;
    font-size: 12px;
  }

  .join {
    display: none;
  }

  .pastBox {
    flex-direction: row!important;
    padding: 50px;
  }

  .partners {
    display: none!important;
  }

  footer {
    background-color: #272a31;
  }

  footer > small{
    color: #d3d3d3;
  }
}